.btn {
    padding: 8px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-icon {
    margin-right: 10px;
}

.btn:hover {
    padding: 8px 35px;
    transition: all 0.3s ease-out;
    background: var(--color-blue0);
    color: var(--color-white);
    transition: 250ms;
}

.btn--primary {
    background-color: var(--color-blue3);
}

.btn--outline {
    background-color: transparent;
    color: var(--color-white);
    padding: 8px 35px;
    border-radius: 20px;
    border: 1px solid var(--primary);
    transition: all 0.3 ease-out;
}

.btn--small {
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 8px;
    height: 45px;
    color: var(--color-white);
}

.btn--small:hover {
    padding: 4px 15px;
    transition: all 0.3s ease-out;
    background: var(--color-blue0);
    color: var(--color-white);
    transition: 250ms;
}

.btn--medium {
    padding: 8px 35px;
    border-radius: 20px;
    font-size: 18px;
    color: var(--color-white);
}

.btn--large {
    padding: 12px 35px;
    border-radius: 20px;
    font-size: 20px;
    color: var(--color-white);
}