/* Modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  color: var(--color-white);
}

.modalContentForm {
  background-color: var(--color-blue1); /* Fundo escuro */
  border-radius: 12px; /* Bordas arredondadas */
  padding: 20px;
  border: 2px solid var(--color-warning); /* Borda azul */
  width: 500px;
  color: black;
  position: relative;
}

.modalContent {
  background-color: var(--color-blue1); /* Fundo escuro */
  border-radius: 12px; /* Bordas arredondadas */
  padding: 20px;
  border: 2px solid var(--color-warning); /* Borda azul */
  width: 300px;
  color: black;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: red;
}

.modalContent h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.modalContent p {
  margin-bottom: 20px;
  border-bottom: 1px solid black; /* Linha horizontal */
}

.modalActions {
  display: flex;
  justify-content: space-around; /* Espaço entre os botões */
}

.modalButton {
  background-color: var(--color-blue2);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px; /* Botões arredondados */
  cursor: pointer;
  color: var(--color-white);
}

.modalButton:hover {
  background-color: var(--color-blue0); /* Efeito hover */
}

.formulario {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.text_area {
  width: 100%;
  border-radius: 5px;
}

.label {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}