.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.clubbackground {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.clubbackground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileSection {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  margin-top: 20px;
}

.logoContainer {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 20px;
  margin-top: -130px;
  border: 2px solid #000
}

.logo {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.userInfo {
  width: 100%;
  align-items: left;
  justify-content: left;
  margin-left: 110px;
}

.username {
  font-size: 22px;
  font-weight: bold;
}

.description,
.address {
  font-size: 16px;
  color: #666;
}

.editButton {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 60px;
  align-self: flex-start;
}

.quickAccessSection {
  text-align: center;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.quickButton {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  margin-bottom: 20px;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.logoutButton {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}
