.planCard {
  background-color: var(--color-white); /* Container principal branco */
  border-radius: 16px;
  padding: 20px;
  margin: 15px;
  width: 300px;
  text-align: center;
  color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.planHeader {
  background: linear-gradient(
    270deg,
    var(--color-blue0),
    #0674BD,
    var(--color-blue4),
    #034A7A
  );
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 15px;
}

.planName {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
  color: var(--color-white);
}

.planPrice {
  font-size: 2.5em;
  color: var(--color-blue4);
  font-weight: bold;
}

.planPriceMonth {
  font-size: 1em;
  color: var(--color-blue4);
  margin-top: -25px;
  font-weight: bold;
}

.planDescriptionContainer {
  background: linear-gradient(
    180deg,
    var(--color-blue0),
    #0674BD,
    var(--color-blue4),
    #034A7A
  );
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}

.planDescriptionList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.planDescription {
  font-size: 0.9em;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  padding: 10px;
  border-radius: 8px;
}

.iconActive {
  color: var(--color-success);
  margin-right: 8px;
  width: 16px;
  font-size: 2em;
}

.iconInactive {
  color: var(--color-danger);
  margin-right: 8px;
  font-size: 2em;
  width: 16px;
}

/* Cores alternadas para os containers individuais das descrições */
.altBackground {
  background: #034A7A;
  color: var(--color-white);
}

.normalBackground {
  color: var(--color-white);
}

.containerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribeButton {
  background-color: var(--color-blue4);
  color: var(--color-white);
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subscribeButton:hover {
  background-color: var(--color-blue0);
}

/* Sombra Bronze */
.shadowPriority1 {
  box-shadow: 0 4px 12px var(--color-plan-bronze); /* bronze */
}

/* Sombra Ouro */
.shadowPriority2 {
  box-shadow: 0 4px 12px var(--color-plan-ouro); /* ouro */
}

/* Sombra Diamante */
.shadowPriority3 {
  box-shadow: 0 4px 12px var(--color-plan-diamante); /* diamante */
}

/* Sombra Ametista */
.shadowPriority4 {
  box-shadow: 0 4px 12px var(--color-plan-ametista); /* ametista */
}