.carouselContainer {
  width: 1000px;
  height: 900px; /* Defina o tamanho máximo da largura */
  margin: 0 auto;   /* Centralize o carrossel na página */
  padding-top: 100px; /* Espaçamento superior opcional */
}

.carousel-inner {
  height: 450px;  /* Altura fixa para o carrossel */
  overflow: hidden; /* Evitar overflow de conteúdo */
}

.carouselImage {
  width: 100%;       /* Garanta que a imagem ocupe a largura total do carrossel */
  height: 100%;      /* Defina a altura para preencher o contêiner */
  object-fit: cover; /* Ajuste para cobrir o contêiner sem distorções */
}

.customCaption {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para o texto */
  padding: 10px;
}

.carousel-caption h3 {
  font-size: 24px;  /* Tamanho ajustado para o título */
}

.carousel-caption p {
  font-size: 18px;  /* Tamanho ajustado para o subtítulo */
}
